.title{
	
	width:350px;
	height:400px;
	
	border-style:inset;
	border-radius:10px;
	box-sizing:border-box;
	background-color:black;
	color:green;
	position:relative;
	left:35%;
	top:100px;
}
h3 {
	text-align:center;
	font-size:2.5em;/* 1em = 16 px */
}
.m1{
	padding-bottom:20px;
}
img.icn{
	width:15px;
	border-style:none;
	box-sizing:border-box;
	border-radius:23px;
	position:relative;
	top:110px;
	left:35%;
	
}
.bg{
	background-image: url('bc_im.jpg')
}
